<%= form_with(model: school_class, local: true) do |form| %>
  <% if school_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school_class.errors.count, "error") %> prohibited this school_class from being saved:</h2>

      <ul>
      <% school_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>
    <%= form.number_field :day, id: :school_class_day %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.number_field :teacher_id, id: :school_class_teacher_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
